:root {
    /* login */
    --main-red: #e60023;
    --blue: #435ee5;
    /* inspiration */
    --yellow: #c28b00;
    --green: #618c7b;
    --light-blue: #0076d3;
    --dark-green: #407a57;
    --ins-text: #c31952;
    /* search */
    --light-yellow: #fffc00;
    --search-red: #c31952;


}