:root {
  /* login */
  --main-red: #e60023;
  --main-blue: #435ee5;
  --main-text: #1e1e1e;
  /* inspiration */
  --ins-yellow: #c28b00;
  --ins-green: #618c7b;
  --ins-light-blue: #0076d3;
  --ins-dark-green: #407a57;
  --ins-text: #c31952;
  /* search */
  --search-light-yellow: #fffc00;
  --search-red: #c31952;
  /* save */
  --save-dark-green: #006b6c;
  --save-light-green: #dafff6;
  /* shop */
  --shop-light-pink: #ffe2eb;
  --shop-red: #c31952;
}

html img {
  -webkit-user-drag: none;
}

html,
body {
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body nav {
  position: fixed;
  z-index: 100;
  background: #fff;
  width: 100%;
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(114, 112, 112, 0.3);
}

body nav .logo-section {
  display: flex;
  align-items: center;
}

body nav .logo-section img {
  width: 100px;
  margin-right: 15px;
}

body nav .logo-section a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
  padding: 12px 16px;
}

body nav .logo-section a:hover {
  background: #e5e5e0;
  border-radius: 25px;
}

body nav .links-login-sigup-section {
  display: flex;
  align-items: center;
}
body nav .links-login-sigup-section ul {
  list-style: none;
}

body nav .links-login-sigup-section ul li {
  display: inline;
  padding: 0 15px;
}

body nav .links-login-sigup-section ul li a {
  color: var(--main-blue);
  font-weight: 500;
  text-decoration: none;
}

body nav .links-login-sigup-section ul li a:hover {
  text-decoration: underline;
  color: #3750ce;
}

body nav .links-login-sigup-section button {
  padding: 14px 18px;
  border-radius: 15px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

body nav .links-login-sigup-section .login {
  background: var(--main-red);
  color: #fff;
  margin: 0 8px 0 20px;
}

body nav .links-login-sigup-section .login:hover {
  background: #d10423;
}
body nav .links-login-sigup-section .signup {
  background: #e5e5e0;
}

body nav .links-login-sigup-section .signup:hover {
  background: #d1d1cd;
}
.container {
  position: relative;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.background-wrapper {
  position: absolute;
  top: -400px;
  display: flex;
  column-gap: 15px;
  z-index: 0;
}

.container::after {
  position: absolute;
  content: "";
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.background-wrapper .box,
.ins-background-wrapper .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}
.background-wrapper .box div,
.ins-background-wrapper .box div {
  overflow: hidden;
}

.background-wrapper .box div img,
.ins-background-wrapper .box div img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-wrapper .box div,
.ins-background-wrapper .box div {
  width: 230px;
  height: 350px;
  border-radius: 20px;
}

.background-wrapper .box1,
.background-wrapper .box7,
.ins-background-wrapper .box4 {
  position: relative;
  top: 440px;
}

.background-wrapper .box2,
.box6,
.ins-background-wrapper .box3,
.box5 {
  position: relative;
  top: 265px;
}

.background-wrapper .box3,
.background-wrapper .box5,
.ins-background-wrapper .box2,
.box6 {
  position: relative;
  top: 175px;
}

.container .content-wrapper {
  width: 100%;
  padding: 0 30px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container .content-wrapper .text {
  width: 475px;
}

.container .content-wrapper .text p {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.container .content-wrapper .form {
  z-index: 1;
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  background: rgb(255, 255, 255);
  padding: 35px 0;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.container .content-wrapper .form form {
  width: 60%;
}

.container .content-wrapper .form .form-head,
.form-body,
.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .form-footer {
    display: none;
} */

.container .content-wrapper .form .form-head img {
  width: 35px;
  margin-bottom: 10px;
  display: none;
}

.container .content-wrapper .form .form-head h1 {
  text-align: center;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 20px;
  color: #1e1e1e;
}

.form .form-body .input-wrap {
  width: 100%;
  position: relative;
}

.form .form-body .input-wrap .fa-eye,
.fa-eye-slash {
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 14px;
  cursor: pointer;
  z-index: 1;
  color: #4e4e4e;
}

.form .form-body .input-wrap .fa-eye-slash {
  display: none;
}

.form .form-body .input-wrap label {
  display: block;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 400;
}

.form .form-body .input-wrap input {
  font-size: 14px;
  padding: 11px;
  border-radius: 16px;
  border: 1px solid rgba(153, 153, 153, 0.8);
  width: 100%;
  margin: 3px 0 10px 0;
}
.form .form-body .input-wrap input::placeholder {
  color: #999;
}

/* .form .form-body .input-wrap input:hover {
    border-width: 2px;
} */

.form .form-body .input-wrap input:focus {
  border: 1px solid transparent;

  outline: 2px solid var(--main-blue);
}

.form .form-body .forgt-passwd {
  width: 100%;
  margin-top: -2px;
  text-align: left;
  font-weight: 500;
  color: var(--main-blue);
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 15px;
}

.form .form-body .forgt-passwd:hover {
  text-decoration: underline;
}

.form .form-body .submit-btn {
  width: 100%;
  background: var(--main-red);
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 0;
  border-radius: 8px;
  cursor: pointer;
}

.form .form-body .submit-btn:hover {
  background: #d10423;
}

.form .form-footer {
  width: 60%;
}

.form .form-footer span {
  font-weight: 500;
  font-size: 14px;
  margin: 10px 0;
  display: inline-block;
}

.form .form-footer .google,
.qr {
  border: 1px solid rgba(153, 153, 153, 0.5);
  border-radius: 3px;
  width: 100%;
  padding: 8px 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.form .form-footer .google:hover,
.qr:hover {
  background: rgba(0, 0, 0, 0.1);
}

.form .form-footer .google i,
.qr i {
  display: flex;
  margin-right: 30px;
}

.form .form-footer .google p,
.qr p {
  font-weight: 500;
  color: var(--main-text);
}

.form .form-footer .qr {
  margin-bottom: 25px;
}

.form .form-footer .facebook-login {
  color: var(--main-text);
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 3px;
}

.form .form-footer .update-log-method,
.sign-up {
  text-decoration: none;
  color: var(--main-text);
  font-weight: 600;
  font-size: 11px;
  margin-bottom: 10px;
}

.form .form-footer .business {
  color: var(--main-text);
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 3px;
  font-weight: 600;
  margin-bottom: 10px;
}

.form .form-footer .business a {
  text-decoration: none;
  color: var(--main-text);
  font-weight: 600;
}

.form .form-footer .tos-pp {
  font-size: 11px;
  color: #63635c;
  text-align: center;
}

.form .form-footer .tos-pp a {
  color: #4e4e4e;
}

.container .scroll-down-icon {
  position: absolute;
  z-index: 1;
  width: fit-content;
  height: 40px;
  bottom: 30px;
  cursor: pointer;
}

.container .scroll-down-icon i {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  animation-name: scroll;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  position: relative;
}

@keyframes scroll {
  0% {
    top: 0;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 0;
  }
}

#inspiration {
  height: 100vh;
  width: 100%;
  z-index: 3;
  position: relative;
  background: #ffffff;
}

.section {
  height: 100vh;
  width: 100%;
}

/* .search {
  background: #da8080;
} */

.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#inspiration {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 0;
}

#inspiration::after {
  content: "";
  height: 250px;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 80%);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

#inspiration .ins-background-wrapper {
  top: 25%;
  display: flex;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  user-select: none;
  column-gap: 15px;
}

#inspiration .ins-background-wrapper .box {
  position: relative;
  /* transition: all 300ms linear; */
}

.ins-background-wrapper .box1 {
  animation: move 6s forwards;
  --first: 50px;
  --second: 0;
  --third: -100px;
}

.ins-background-wrapper .box2 {
  animation: move 6s 0.3s forwards;
  --first: 225px;
  --second: 175px;
  --third: 75px;
}

.ins-background-wrapper .box3 {
  animation: move 6s 0.6s forwards;
  --first: 325px;
  --second: 265px;
  --third: 165px;
}

.ins-background-wrapper .box4 {
  animation: move 6s 0.9s forwards;
  --first: 490px;
  --second: 440px;
  --third: 330px;
}

.ins-background-wrapper .box5 {
  animation: move 6s 1.2s forwards;
  --first: 325px;
  --second: 265px;
  --third: 165px;
}

.ins-background-wrapper .box6 {
  animation: move 6s 1.5s forwards;
  --first: 225px;
  --second: 175px;
  --third: 75px;
}

.ins-background-wrapper .box7 {
  animation: move 6s 1.8s forwards;
  --first: 100px;
  --second: 0;
  --third: -100px;
}

/* #inspiration .home .box1 {
  animation-play-state: paused;
} */

@keyframes move {
  0% {
    top: var(--first);
    opacity: 0;
  }
  10%,
  90% {
    top: var(--second);
    opacity: 1;
  }

  100% {
    top: var(--third);
    opacity: 0;
  }
}

#inspiration .ins-content-wrapper {
  position: absolute;
  top: 200px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inspiration .ins-content-wrapper p {
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  color: #000;
}
#inspiration .ins-content-wrapper p:first-child {
  z-index: 2;
  width: 100%;
}

#inspiration .ins-content-wrapper p:nth-child(2) {
  z-index: 1;
  position: relative;
  color: #c28b00;
  animation: fade 6s linear infinite;
  --first: 30px;
  --second: 0;
  --third: -30px;
  width: 100%;
  transition: all 100ms linear;
}

@keyframes fade {
  0% {
    top: var(--first);
    opacity: 0;
  }
  10%,
  90% {
    top: var(--second);
    opacity: 1;
  }

  100% {
    top: var(--third);
    opacity: 0;
  }
}

#inspiration .ins-content-wrapper .index-btns {
  /* border: 1px solid red; */
  margin-top: 20px;
  display: flex;
  position: relative;
  column-gap: 10px;
  z-index: 3;
}

.ins-content-wrapper .index-btns .index-btn {
  cursor: pointer;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #e1e1e1;
  transition: all 100ms linear;
}

#inspiration .outfit,
#inspiration .green,
#inspiration .home,
#inspiration .dinner {
  display: none;
}

#inspiration .dinner .box,
#inspiration .home .box,
#inspiration .outfit .box,
#inspiration .green .box {
  opacity: 0;
}

#inspiration .active {
  display: flex;
}

.search {
  background: #fffd92;
}

.search .search-content-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.search .left-content,
.right-content {
  width: 50%;
}

.search .left-content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.search .left-content .center {
  width: 298px;
  position: absolute;
  z-index: 2;
}

.search .left-content .left {
  position: absolute;
  align-items: center;
  width: 204px;
  left: 30px;
  z-index: 1;
}

.search .left-content .right {
  position: absolute;
  z-index: 1;
  width: 164px;
  right: 80px;
  top: 50px;
}

.search .left-content .topright {
  position: absolute;
  width: 178px;
  z-index: 1;
  right: 90px;
  top: -300px;
}

.search .left-content .search-field {
  position: absolute;
  z-index: 3;
  background: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  color: #6e0f3c;
  padding: 30px 30px;
  border-radius: 50px;
  left: 120px;
  cursor: pointer;
  user-select: none;
}

.search .left-content .search-field span {
  font-weight: 600;
}

.search .left-content .search-field i {
  color: #000;
  margin-right: 3px;
  font-size: 20px;
}

.search .right-content {
  color: var(--search-red);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search .right-content h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.search .right-content p {
  font-size: 24px;
  line-height: 30px;
  width: 70%;
  text-align: center;
  margin-bottom: 20px;
}

.search .right-content .btn {
  background: var(--main-red);
  border: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 14px;
  color: #fff;
  cursor: pointer;
}

.search .right-content .btn:hover {
  background: #d10423;
}

.explore {
  background: #dafff6;
}

.explore .explore-content-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.explore .explore-content-wrapper .left-content {
  width: 45%;
}

.explore-content-wrapper .left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--save-dark-green);
}
.explore-content-wrapper .left-content h1 {
  font-size: 55px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.explore-content-wrapper .left-content p {
  width: 70%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  line-height: 25px;
}

.explore-content-wrapper .left-content .btn,
.shop-content-wrapper .right-content .btn {
  background: var(--main-red);
  border: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
}

.explore-content-wrapper .left-content .btn:hover,
.shop-content-wrapper .right-content .btn:hover {
  background: #d10423;
}

.explore-content-wrapper .right-content {
  position: relative;
  height: 100%;
  width: 55%;
}

.explore-content-wrapper .right-content .box1 {
  width: 400px;
  height: 420px;
  position: absolute;
  top: 150px;
  left: 20px;
}

.explore-content-wrapper .right-content .box1 .inside-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.explore-content-wrapper .right-content .box1 .inside-content span {
  font-weight: 500;
  font-size: 55px;
  line-height: 65px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.explore-content-wrapper .right-content .box1 .inside-content img {
  width: 90px;
}

.explore-content-wrapper .right-content .box1 .inside-content .images {
  margin-bottom: 20px;
}

.explore-content-wrapper .right-content .box2 {
  position: absolute;
  left: 197px;
  top: 610px;
  width: 223px;
  height: 235px;
}

.explore-content-wrapper .right-content .box2 span {
  position: absolute;
  color: #fff;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  width: 70%;
  bottom: 30px;
  left: 30px;
}
.explore-content-wrapper .right-content .box3 {
  position: absolute;
  width: 223px;
  height: 235px;
  left: 480px;
  top: 150px;
}

.explore-content-wrapper .right-content .box3 span {
  position: absolute;
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  width: 70%;
  bottom: 20px;
  left: 20px;
}

.explore-content-wrapper .right-content .box4 {
  position: absolute;
  width: 165px;
  height: 173px;
  top: 420px;
  left: 460px;
}

.explore-content-wrapper .right-content .box4 span {
  position: absolute;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  bottom: 20px;
  left: 20px;
  line-height: 22px;
}
.explore-content-wrapper .right-content .box5 {
  width: 223px;
  height: 235px;
  position: absolute;
  left: 460px;
  top: 630px;
}

.explore-content-wrapper .right-content .box5 span {
  position: absolute;
  color: #fff;
  font-weight: 500;
  bottom: 30px;
  font-size: 30px;
  line-height: 40px;
  left: 20px;
}

.explore-content-wrapper .right-content > div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.shop {
  background: #ffe2eb;
  position: relative;
}

.shop .shop-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.shop .shop-content-wrapper .left-content,
.shop-content-wrapper .left-content {
  width: 50%;
  height: 100%;
}

.shop .shop-content-wrapper .left-content {
  position: relative;
  

}

.shop-content-wrapper .left-content img:nth-child(1) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-content-wrapper .left-content img:nth-child(2) {
  position: absolute;
  width: 215px;
  left: 85px;
  bottom: 150px;
  border-radius: 15px;
}

.shop-content-wrapper .left-content img:nth-child(3) {
  position: absolute;
  width: 96px;
  left: 50px;
  bottom: 120px;
}

.shop-content-wrapper .left-content .creator-name {
  position: absolute;
  bottom: 100px;
  left: 150px;
  color: #fff;
}

.shop-content-wrapper .left-content .creator-name span:nth-child(1) {
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.shop-content-wrapper .right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop .shop-content-wrapper .right-content h1,
.shop .shop-content-wrapper .right-content p {
  width: 60%;
  text-align: center;
  color: #c32f00;
}


.shop-content-wrapper .right-content h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  margin-bottom: 20px;
}

.shop-content-wrapper .right-content p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-links {
  list-style: none;
}

footer .footer-links li {
  display: inline;
  padding: 0 3px;
}

footer .footer-links li a {
  color: var(--main-blue);
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}

footer .footer-links li a:hover {
  text-decoration: underline;
  color: #3750ce;
}